/* src/index.css */

@import "tailwindcss";

/* /* Black and White Monochrome Palette */
/* :root { */
/*   --black: #000000; */
/*   /* Pure Black */
/*   --white: #ffffff; */
/*   /* Pure White */
/*   --gray-light: #f4f4f4; */
/*   /* Very light gray */
/*   --gray-medium: #b0b0b0; */
/*   /* Medium gray */
/*   --gray-dark: #333333; */
/*   /* Dark gray */
/*   --light-blue: ; */
/* } */
/**/
/* body { */
/*   background-color: var(--white); */
/*   color: var(--black); */
/* } */
/**/
/* /* a { */
/* /*   color: var(--black); */
/* /* } */
/* /**/
/* /* a:hover { */
/* /*   color: var(--color-blue-500); */
/* /* } */
/**/
/* button { */
/*   background-color: var(--black); */
/*   color: var(--white); */
/*   border: none; */
/*   /* 1px solid var(--gray-light); */
/* } */
/**/
/* button:hover { */
/*   background-color: var(--gray-dark); */
/* } */
/**/
/* footer { */
/*   background-color: var(--gray-light); */
/*   color: var(--gray-dark); */
/* } */
